@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Monoton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Color variables for changing theme */
:root {
    --backgroundColor-one: rgba(17, 9, 9, 0.9);
    --backgroundColor-two: rgba(10, 2, 2, 0.9);
    --scroll-bar-track-color: rgb(17, 7, 7);
    --scroll-bar-thumb-bg:rgba(49, 18, 18, 0.5);
    --scroll-bar-thumb-border: rgb(53, 44, 44);
    --scroll-bar-thumb-shadow: rgb(97, 70, 70);
    --main-header-bg:rgba(14, 9, 9, 0.6);
    --main-header-color:white;
    --input-txt-color:white;
    --input-border-bt:white;
    --input-focus-bor-bt:white;
    --input-placholder:white;
    --input-submit-color: white;
    --input-submit-bor:rgb(99, 43, 43);
    --input-submit-shadow:#3b2121;
    --download-hover-color: #490e0e;
    --playlist-heading:white;
    --playlist-hdg-bt:rgb(20, 5, 5);
    --list-item-color: white;
    --list-item-bg:rgba(0,0,0,0.5);
    --list-bg-gradient-one:#1d0d0d;
    --list-bg-gradient-two:#0f0e0e;
    --list-item-shadow:black;
    --play-icon-bg:rgb(99, 43, 43);
    --play-icon-color:white;
    --select-to-add-color:white;
  }
body{
 background-color: black;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: 'Lato', sans-serif;
 background-image:linear-gradient(to bottom, var(--backgroundColor-one), var(--backgroundColor-two)),url('pexels-mark-angelo-1587927.jpg');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top;
}
a{
    text-decoration: none;   
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
  }
 ::-webkit-scrollbar-track {
    background-color:var(--scroll-bar-track-color);
    border-radius: 25px;
  }
 
::-webkit-scrollbar-thumb {
    background: var(--scroll-bar-thumb-bg); 
    border: 1px solid var(--scroll-bar-thumb-border);
    box-shadow: inset 0 0 5px var(--scroll-bar-thumb-shadow);
    border-radius: 25px;
  }
 :-webkit-scrollbar-thumb:hover {
    background: rgb(63, 27, 27);
    border-radius: 25px;
}
  /* Main Header  */
.main-header{
    width: 100%;
    background-color: var(--main-header-bg);
    color: var(--main-header-color);
    display: flex;
    padding: 12px;
    height: 65px;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 1px 10px rgb(77, 53, 53);
}
/* Logo */
.logo{
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
    padding: 5px; 
    letter-spacing:0.1em;
    font-weight: lighter;
    font-family: 'Monoton', cursive;
}
/* Input Url Form */
#myform{
width: 35%;
}
input[type=text] {
    width: 200px;
    color: var(--input-txt-color);
    background-position: 10px 10px;
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    border-bottom: 1px solid var(--input-border-bt);
}
  input[type=text]:focus{
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--input-focus-bor-bt);
  }
  input[type=text]:focus#my-video-name{
    width: 35%; 
  }

  input[type=text]::placeholder{
      color: var(--input-placholder);
  }
  input[type=submit],a{
      padding: 10px 15px;
      width: fit-content;
      letter-spacing: 0.1em;
      background-color: transparent;
      color: var(--input-submit-color);
      font-size: 15px;
      border: 3px solid var(--input-submit-bor);
      text-decoration: none;
      border-radius: 15px 5px;
      text-align: center;   
  }
  input[type="submit"]:hover, .download-btn:hover{
       box-shadow: inset 0 0 15px var(--input-submit-shadow);
       cursor: pointer;
  }
  .display-lft{
    display: flex;
    flex-direction: column;
  }
  .display-container{
    width: 100%;
    padding: 15px 35px;
    display: flex;
}
/* Playlist items container */
.playlist-container{
    margin: 0px 50px;
    width: 550px;
    height: 540px;
}
.playlist-heading{
    color: var(--playlist-heading);
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    letter-spacing: 0.15em;
    border-bottom: 2px solid var(--playlist-hdg-bt);
}
#add-select{
    color: var(--select-to-add-color);
}
/* Options Below Iframe */
.video-options-container{
    width: 100%;
    justify-content: space-between;
    padding: 8px 5px;
}
.video-name-con{
    color: var(--playlist-heading); 
    margin-left:10px;
    padding-top: 15px;
    text-transform: capitalize;
}

.download-btn i{
padding-right: 8px;
font-size: 15px;
}

/* PLAYLIST DISPLAY CARD */
.collection{
    width:100%;
    height: 90%;
    padding: 5px;
   overflow-y: auto;
}
.collection-item{
    width: 90%;
    min-height: 60px;
    margin: 10px auto;
    color: var(--list-item-color);
    display: flex;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: var(--list-item-bg);
    border-radius: 20px;
    border-radius: 15px 5px;
    transition: transform .1s ease-in-out;
    background: linear-gradient(to bottom right,var(--list-bg-gradient-one),var(--list-bg-gradient-two));

}

.collection-item > p{
    padding: 0px 15px;
}
.collection-item:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 6px -6px var(--list-item-shadow);   
}
.collection-item .fa-play{
    background-color: var(--play-icon-bg);
    color: var(--play-icon-color);
    padding: 15px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 8px 6px -6px black;
}
.collection-item .fa-times{
    transition: transform 0.5s;
}
.collection-item .fa-times:hover{
    transform: rotate(360deg);
    opacity: 0.4;
}
#result{
    width:950px; height:540px;
    box-shadow: 0 10px 10px -5px;
    background-color: rgb(0, 0, 0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;  
}
#result > img{
    width: 250px;
    height: 250px;
    opacity: 0.5;
}
/*  TOGGLE */
.toggle-container{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: auto;
    margin-top: 10px;  
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 54px;
	height: 26px;
	background: rgb(71, 60, 60);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 17px;
	height: 17px;
	background: rgba(241, 240, 240,0.7);
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(182, 170, 170);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

.light-mode{
    --backgroundColor-one: rgba(230, 225, 225, 0.7);
    --backgroundColor-two: rgba(207, 199, 199, 0.6);
    --scroll-bar-track-color: rgb(214, 200, 200);
    --scroll-bar-thumb-bg:rgba(223, 213, 213, 0.5);
    --scroll-bar-thumb-border: rgb(156, 146, 146);
    --scroll-bar-thumb-shadow: rgb(145, 127, 127);
    --main-header-bg:rgba(204, 200, 200, 0.2);
    --main-header-color:rgb(71, 60, 60);
    --input-txt-color:black;
    --input-border-bt:rgb(145, 104, 104);
    --input-focus-bor-bt:rgb(124, 90, 90);
    --input-placholder:rgb(53, 49, 49);
    --input-submit-color: rgb(34, 33, 33);
    --input-submit-bor:rgb(122, 98, 98);
    --download-hover-color: #afaaaa;
    --playlist-heading:rgb(44, 39, 39);
    --playlist-hdg-bt:rgb(131, 89, 89);
    --input-submit-shadow:#afaaaa;
    --list-item-color:rgb(44, 39, 39);
    --list-item-bg:rgba(59, 8, 8, 0.2);
    --list-bg-gradient-one:rgba(104, 99, 99, 0.2);
    --list-bg-gradient-two:rgba(175, 150, 150, 0.6);
    --list-item-shadow:rgb(121, 114, 114);
    --play-icon-bg:rgba(250, 250, 255, 0.459); 
  --play-icon-color:rgb(70, 68, 66);
  --select-to-add-color:rgb(49, 43, 43);
}

/* Media Queries */
@media (max-width: 1500px){
.playlist-container{
    margin: 0px 25px;
}
}
@media (max-width:1450px){
    .playlist-container{
        margin: 0px 10px;
    } 
}
@media (max-width: 1380px){
    #result{
        width: 890px;
        height: 520px;
    } 
    .playlist-container{
        height: 510px;
    }
}

@media (max-width: 1290px){
    .display-container{
        padding: 10px 25px;
    }
    #result{
        width: 823px;
        height: 490px;
    }
    .playlist-container{
        margin: 0px 10px;
        height: 490px ;
    }
}
 @media (max-width: 1160px){
     .display-container{
            padding: 20px;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
    #result{
            width: 100%;
            height: 450px;
        }
    .playlist-container{
            width: 100%;
            margin: auto;
            height: auto;
        }
    }

    @media (max-width:900px){

            .main-header{
                flex-wrap: wrap;
            }
            #myform{
                width: 45%;
            }
        }
    @media (max-width:690px){
            #myform{
                width: 55%;
            }
            .logo{
                font-size: 16px;
            }
            .playlist-container{
                width: 100%;
            }
            #result{
                width: 100%;
                height: 380px;
            }
        }
    @media (max-width:580px){

     .main-header{
                height: auto;
                box-shadow: none;
                background-color: transparent;
                padding: 0;
            }  
    .display-container{
                padding: 10px;
            }
    #myform{
                margin-top: 10px;
                padding: 10px;
                width: 100%;
                padding-bottom: 2px;

            }
    .logo{
         padding:20px;
         margin: 0;
        width: 100%;
        text-align: left;
                
         box-shadow: 0px 1px 10px rgb(77, 53, 53);
            }
    #result{
        width: 100%;
        height: 295px;
            }
    input[type = text]{
        width: 100%;
            }
    input[type=text]:focus{
         width: 100%;
            }
    input[type=submit]{
        width: 50%;
        margin: 10px 5px;
            }
    .collection-item{
        padding: 12px;
        margin: 8px auto;
        width: 90%;
        min-height: 45px;
        font-size: 17px;
            }
    .collection-item .fa-play{
                padding: 12px;
                font-size: 10px;
            }
    #Display-video-name{
                font-size: 18px;
            }
        }

    @media (max-width:380px){
            #result{
                width: 100%;
                height: 220px;
            }
        }