@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Monoton&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-color: black;
 background-position: center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 font-family: 'Lato', sans-serif;
 /* background-image:linear-gradient(to bottom, rgba(245, 242, 242, 0.9), rgba(253, 245, 245, 0.8)),url('pexels-mark-angelo-1587927.jpg'); */
 background-image:linear-gradient(to bottom, rgba(17, 9, 9, 0.9), rgba(10, 2, 2, 0.9)),url('pexels-mark-angelo-1587927.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: top;
}
/* .bodyDark{
 background-image:linear-gradient(to bottom, rgba(17, 9, 9, 0.9), rgba(10, 2, 2, 0.9)),url('pexels-mark-angelo-1587927.jpg');

} */

a{
    text-decoration: none;
    
}
/* Scroll Bar */
::-webkit-scrollbar {
    width: 10px;
  }
 ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px rgb(151, 128, 128);  */
    background-color:rgb(17, 7, 7);
    /* background-color:rgb(228, 213, 213); */
    border-radius: 25px;
  }
 
::-webkit-scrollbar-thumb {
    background: rgba(49, 18, 18, 0.5); 
    /* background: rgba(223, 213, 213, 0.5); */
    border: 1px solid rgb(53, 44, 44);
    /* border: 1px solid rgb(156, 146, 146); */
    box-shadow: inset 0 0 5px rgb(97, 70, 70);
    /* box-shadow: inset 0 0 5px rgb(145, 127, 127); */
    border-radius: 25px;
  }
 :-webkit-scrollbar-thumb:hover {
    background: rgb(63, 27, 27);
    border-radius: 25px;
}

  /* Main Header  */
.main-header{
    width: 100%;
    background-color: rgba(14, 9, 9, 0.6);
    /* background-color: rgba(180, 179, 179, 0.2); */
    color: white;
    /* color: rgb(71, 60, 60); */
    display: flex;
    padding: 12px;
    height: 65px;
    justify-content: space-between;
    position: relative;
    box-shadow: 0px 1px 10px rgb(77, 53, 53);
}
.main-headerDark{
    background-color: rgba(14, 9, 9, 0.6); 
     color: white;
}

/* Logo */
.logo{
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
    padding: 5px; 
    letter-spacing:0.1em;
    font-weight: lighter;
    font-family: 'Monoton', cursive;
}
/* Input Url Form */
#myform{
width: 35%;
}
input[type=text] {
    width: 200px;
    color: white;
    /* color: black; */
    background-position: 10px 10px;
    padding: 10px;
    border: none;
    background-color: transparent;
    transition: width 0.4s ease-in-out;
    border-bottom: 1px solid white;
    /* border-bottom: 1px solid rgb(145, 104, 104); */
}
  
  input[type=text]:focus {
    width: 70%;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    /* border-bottom: 2px solid rgb(124, 90, 90); */
  }
  input[type=text]::placeholder{
      color: white;
      /* color: rgb(53, 49, 49); */
  }
  input[type=submit],a{
      padding: 10px 15px;
      width: fit-content;
      letter-spacing: 0.1em;
      background-color: transparent;
      color: white;
      font-size: 15px;
      /* color: rgb(34, 33, 33); */
      border: 3px solid rgb(99, 43, 43);
      /* border: 3px solid rgb(122, 98, 98); */
      text-decoration: none;
      border-radius: 15px 5px;
      text-align: center;   
  }
  input[type="submit"]:hover, .download-btn:hover{
       box-shadow: inset 0 0 15px #490e0e;
       /* box-shadow: inset 0 0 15px #afaaaa; */
       cursor: pointer;
  }
  .inputDark{
      border: 3px solid rgb(99, 43, 43);
      color: white;
  }
  .display-lft{
    display: flex;
    flex-direction: column;
  }
  .display-container{
    width: 100%;
    padding: 15px 35px;
    display: flex;
}
.playlist-container{
    margin: 0px 50px;
    width: 550px;
    height: 540px;
}
.playlist-heading{
    color: white;
    /* color: rgb(68, 61, 61); */
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    letter-spacing: 0.15em;
    border-bottom: 2px solid rgb(20, 5, 5);
    /* border-bottom: 2px solid rgb(131, 89, 89); */
}
.video-options-container{
    width: 100%;
    justify-content: space-between;
    padding: 8px 5px;
}
.video-name-con{
    color: white; 
    /* color: rgb(46, 36, 36); */
    margin-left:10px;
    padding-top: 15px;
    text-transform: capitalize;
}

.download-btn i{
padding-right: 8px;
font-size: 15px;
}

/* PLAYLIST DISPLAY CARD */
.collection{
    width:100%;
    height: 90%;
    padding: 5px;
   overflow-y: auto;
}
.collection-item{
    width: 90%;
    min-height: 60px;
    /* margin: auto; */
    margin: 10px auto;
    color: white;
    /* color: rgb(63, 60, 60); */
    display: flex;
    font-size: 20px;
    text-transform: capitalize;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    background-color: rgba(0,0,0,0.5);
    /* background-color: rgba(59, 8, 8, 0.2); */
    border-radius: 20px;
    border-radius: 15px 5px;
    transition: transform .1s ease-in-out;
    background: linear-gradient(to bottom right,#1d0d0d,#0f0e0e);
    /* background:linear-gradient(to bottom right, rgba(104, 99, 99, 0.2),rgba(175, 150, 150, 0.6)); */

}
/* 
.collection-item-dark{
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(to bottom right,#1d0d0d,#0f0e0e);
} */
.collection-item > p{
    padding: 0px 15px;
}
.collection-item:hover{
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 8px 6px -6px black;
    /* box-shadow: 0 8px 6px -6px rgb(121, 114, 114);    */
}
.collection-item .fa-play{
    background-color: rgb(99, 43, 43);
    /* background-color: rgba(250, 250, 255, 0.459); */

    /* color: rgb(70, 68, 66); */
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 50%;
    box-shadow: 0 8px 6px -6px black;
}
.collection-item .fa-times{
    transition: transform 0.5s;
}
.collection-item .fa-times:hover{
    transform: rotate(360deg);
    opacity: 0.4;
}
#result{
    width:950px; height:540px;
    /* border: 2px solid rgba(0, 0, 0, 0.8); */
    box-shadow: 0 10px 10px -5px;
    background-color: rgb(0, 0, 0,0.2);
    display: flex;
    justify-content: center;
    align-items: center;  
}
#result > img{
    width: 250px;
    height: 250px;
    opacity: 0.5;
}

/*  TOGGLE */
.toggle-container{
    display: flex;
    justify-content: flex-end;
    width: 85%;
    margin: auto;
    margin-top: 10px;
    display: none;
}
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	width: 54px;
	height: 26px;
	background: rgb(168, 167, 167);
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 17px;
	height: 17px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + label {
	background: rgb(77, 55, 55);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}


/* Media Queries */
@media (max-width: 1500px){
.playlist-container{
    margin: 0px 25px;
}
}
@media (max-width:1450px){
    .playlist-container{
        margin: 0px 10px;
    } 
}
@media (max-width: 1380px){
    #result{
        width: 890px;
        height: 520px;
    } 
    .playlist-container{
        height: 510px;
    }
}

@media (max-width: 1290px){
    .display-container{
        padding: 10px 25px;
    }
    #result{
        width: 823px;
        height: 490px;
    }
    .playlist-container{
        margin: 0px 10px;
        height: 490px ;
    }
    }

    @media (max-width: 1160px){
        .display-container{
            padding: 20px;
            flex-wrap: wrap;
            flex-direction: column;
            width: 100%;
            margin: auto;
        }
        #result{
            width: 100%;
            height: 450px;
        }
        .playlist-container{
            width: 100%;
            margin: auto;
            height: auto;
        }
        }

        @media (max-width:900px){

            .main-header{
                flex-wrap: wrap;
            }
            #myform{
                width: 45%;
            }
        }
        @media (max-width:690px){
            #myform{
                width: 55%;
            }
            .logo{
                font-size: 16px;
            }
            .playlist-container{
                width: 100%;
            }
            #result{
                width: 100%;
                height: 380px;
            }
        }
        @media (max-width:580px){

            .main-header{
                height: auto;
                box-shadow: none;
                background-color: transparent;
                padding: 0;
            }  
            .display-container{
                padding: 10px;
            }
            #myform{
                margin-top: 10px;
                padding: 10px;
                width: 100%;
                padding-bottom: 2px;

            }
            .logo{
                padding:20px;
                margin: 0;
                width: 100%;
                text-align: left;
                
             box-shadow: 0px 1px 10px rgb(77, 53, 53);
            }
            #result{
                width: 100%;
                height: 295px;
            }
            input[type = text]{
                width: 100%;
            }
            input[type=text]:focus{
                width: 100%;
            }
            input[type=submit]{
                width: 50%;
                margin: 10px 5px;
            }
            .collection-item{
                padding: 12px;
                margin: 8px auto;
                width: 90%;
                min-height: 45px;
                font-size: 17px;
            }
            .collection-item .fa-play{
                padding: 12px;
                font-size: 10px;
            }
            #Display-video-name{
                font-size: 18px;
            }
        }

        @media (max-width:380px){
            #result{
                width: 100%;
                height: 220px;
            }
        }